@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

.hero {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(135deg, #ffdead -40%, rgba(250, 239, 227, 0) 100%);
    backdrop-filter: blur(21px);
    padding-bottom: 7rem;

    .hero__right {
        width: 515px;
        position: relative;
        left: 1rem;
        bottom: 1rem;
    }
    .hero__texto {
        color: #222;
        font-size: 54px;
        font-family: $font-principal;
        font-weight: 800;
        line-height: 60px;
        text-transform: capitalize;
        margin-bottom: 1.438rem;
        .caixa {
            position: relative;
            display: inline-block;
        }

        .caixa span.quadrado-canto {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: $color-branca;
            border: 3px solid $color-preta;
            padding: 0;
            border-inline-width: 1px;
        }

        .caixa span.superior-esquerdo {
            top: -5px;
            left: -5px;
        }

        .caixa span.superior-direito {
            top: -5px;
            right: -5px;
        }

        .caixa span.inferior-esquerdo {
            bottom: -5px;
            left: -5px;
        }

        .caixa span.inferior-direito {
            bottom: -5px;
            right: -5px;
        }

        span {
            font-size: 54px;
            font-family: $font-principal;
            font-weight: 800;
            line-height: 65px;
            text-transform: capitalize;
            padding: 0 0.3rem;
            border: 1px solid salmon;
            color: $color-primary;
            background-color: $color-branca;
        }
    }

    .hero__sub-texto {
        color: rgba(34, 34, 34, 0.7);
        font-size: 16px;
        font-family: $font-secondary;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 2.313rem;
    }

    .wrapper__btn {
        display: flex;
        gap: 1.5rem;

        .btn-start {
            display: flex;
            align-items: center;
            color: white;
            font-weight: 500;
            gap: 1rem;
            border: none;
            padding: 0.3rem 0.4rem 0.3rem 0.8rem;
            border-radius: 10px;
            background: linear-gradient(142deg, rgba(70, 67, 211, 0.75) 0%, #0500ff 100%);
        }

        .btn__play {
            padding: 0 1rem;
            border: none;
            border-radius: 10px;
            background: linear-gradient(142deg, #fad961 0%, #f76b1c 100%);
        }
    }
}
