$color-primary: #605BFF;
$color-secondary: #FAD55E;
$color-heading: #292968;
$color-body: #303D66;
$color-inactive: #7070BC;
$color-branca: #fff;
$color-preta: #000;
$color-borda: #FF873E;

$font-principal: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;
